*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #3b4664;
}
.calculator-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 1rem;
}
.output {
  background-color: #181f32;
  color: white;
  padding: 1.5rem;
  border-radius: 6px;
  text-align: end;
  min-width: 27%;
  box-shadow: 0 4px 4px rgb(0 0 0 / 0.25);
}
.btn-container {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 60px);
  grid-template-rows: repeat(5, 40px);
  background-color: #252d44;
  gap: 0.7rem;
  padding: 2rem;
  border-radius: 6px;
}

.btn-container > button {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  outline: none;
  border: none;
  background-color: #eae3db;
  color: #3b4664;
  margin: 0;
  padding: 10px;
  border-radius: 5px;
}
.btn-container > button:hover {
  background-color: #e2d0bb;
}
.span2 {
  grid-column: span 2;
}
.btn2 {
  background-color: #647299 !important;
  color: #ffffff !important;
}
.btn2:hover {
  background-color: #485883 !important;
}
.danger {
  background-color: #d13f30 !important;
  color: #ffffff !important;
}
.danger:hover {
  background-color: #b03e32 !important;
}

@media screen and (max-width: 1020px) {
  .output {
    min-width: 34%;
  }
}
@media screen and (max-width: 900px) {
  .output {
    min-width: 45%;
  }
}
@media screen and (max-width: 600px) {
  .output {
    min-width: 60%;
  }
}
@media screen and (max-width: 500px) {
  .output {
    min-width: 75%;
  }
}
